@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, $gradientFrom, $gradientTo);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}