@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$rootWidth: 100vh / 2.5;
$todoHeight: 50px;
$gradientFrom: #ffc2c2;
$gradientTo: #996fc9;
$basicBackground: #ffffff;
$addBackground: #ffba74;
$addButtonSize: 75px;
$basicGrey404: rgba(128, 128, 128, 0.404);
$basicGrey849: rgba(128, 128, 128, 0.849);
%border404 {
    border: .2px solid $basicGrey404;
    box-shadow: .7px .7px .7px $basicGrey404;
}
%border-radius {
    border-radius: $rootWidth / 45;
}
%button {
    @extend %border404;
    @extend %border-radius;
    background: none;
    outline: none;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
%text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}