.outputting-box .todo, .preview {
  border: 0.2px solid rgba(128, 128, 128, 0.404);
  -webkit-box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
          box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
}

.creating-box input[type=text], .creating-box button, .outputting-box .todo:hover {
  border: 0.2px solid rgba(128, 128, 128, 0.404);
  -webkit-box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
          box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
}

.creating-box input[type=text], .creating-box button {
  border-radius: 1.14286vh;
  background: none;
  margin-top: 5px;
  outline: none;
  height: 35px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.outputting-box .todo, .preview {
  border: 0.2px solid rgba(128, 128, 128, 0.404);
  -webkit-box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
          box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
}

.creating-box input[type=text], .creating-box button, .outputting-box .todo:hover {
  border: 0.2px solid rgba(128, 128, 128, 0.404);
  -webkit-box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
          box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.404);
}

.creating-box input[type=text], .creating-box button {
  border-radius: 1.14286vh;
  background: none;
  margin-top: 5px;
  outline: none;
  height: 35px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(135deg, #ffc2c2, #996fc9);
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root {
  background-color: #ffffff;
  height: 66.66667%;
  border-radius: 2.66667vh;
  width: 40vh;
  margin-top: -10%;
  padding-top: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
}

.logo img {
  height: 48px;
  width: 48px;
}

.outputting-box {
  height: 90%;
  border-radius: 2.66667vh;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.outputting-box .todo {
  width: 100%;
  background-color: #ffffff;
  border-radius: 2vh;
  font-size: 24px;
  margin: 8.8px 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.outputting-box .todo:first-child {
  margin-top: 0;
}

.outputting-box .todo:last-child {
  margin-bottom: 0;
}

.outputting-box .todo input[type=checkbox] {
  width: 25px;
  height: 25px;
  margin: 12.5px;
  cursor: pointer;
}

.outputting-box .todo .todo-label {
  margin: auto 0;
}

.add-button {
  background-color: #ffba74;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  height: 75px;
  width: 75px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.add-button:hover {
  cursor: pointer;
}

.add-button img {
  margin: 18.75px;
  height: 37.5px;
  width: 37.5px;
}

.creating-box {
  margin-top: -70px;
  height: 150px;
  width: 40vh;
  background-color: #ffffff;
  border-radius: 2.66667vh;
  visibility: hidden;
  display: block;
  padding: 15px;
  font-size: 24px;
  text-align: center;
}

.creating-box input[type=text] {
  margin-top: 20px;
  width: 100%;
}

.creating-box button {
  margin-bottom: 5px;
}

.creating-box .add-todo, .creating-box .remove-todo {
  width: 49%;
}

.creating-box .add-todo {
  margin-right: 1%;
}

.creating-box .remove-todo {
  margin-left: 1%;
}

.preview {
  width: 40vh;
  background-color: #ffffff;
  border-radius: 2vh;
  font-size: 24px;
  margin: 7.8px 0;
  height: 48px;
  padding: 8px 12px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}
/*# sourceMappingURL=App.css.map */