@import './variables';
@import './body';

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        background-color: $basicBackground;
        height: (100% / 1.5);
        border-radius: $rootWidth / 15;
        width: $rootWidth;
        padding-top: 10px;
        transition: .6s;
    }
}

.logo {
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    height: 10%;

    img {
        height: 48px;
        width: 48px;
    }
}

.outputting-box {
    height: 90%;
    border-radius: $rootWidth / 15;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;

    .empty {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;

        img {
            width: 65%;
            transform: translateY(-15%);
        }
    }

    .todo {
        width: 100%;
        background-color: $basicBackground;
        border-radius: $rootWidth / 20;
        font-size: 24px;
        @extend %border404;
        margin: 8.8px 0;
        padding-right: 5px;
        height: $todoHeight;
        display: flex;
        overflow: hidden;
        align-items: center;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        input[type=checkbox] {
            min-width: $todoHeight / 2;
            min-height: $todoHeight / 2;
            margin: $todoHeight / 4;
            cursor: pointer;
        }

        .todo-label {
            margin: auto 0;
            @extend %text;
            width: 100%;
            cursor: text;
        }

        .remove-todo-one {
            text-align: center;
            background: none;
            outline: none;
            @extend %border404;
            border-radius: 50%;
            min-width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
}

.add-button {
    background-color: $addBackground;
    transform: translateY(-50%);
    border-radius: 50%;
    height: $addButtonSize;
    width: $addButtonSize;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

    &:hover {
        cursor: pointer;
    }

    img {
        margin: $addButtonSize / 4;
        height: $addButtonSize / 2;
        width: $addButtonSize / 2;
    }
}

.creating-box {
    margin-top: -70px;
    height: 180px;
    width: $rootWidth;
    background-color: $basicBackground;
    border-radius: $rootWidth / 15;
    visibility: hidden;
    display: block;
    padding: 15px;
    font-size: 24px;
    text-align: center;

    input[type=text] {
        @extend %button;
        margin-top: 20px;
        width: 100%;
        cursor: text;
    }

    button {
        @extend %button;
        margin-bottom: 5px;
    }

    .add-todo, .remove-todo {
        width: 49%;
    }

    .add-todo {
        margin-right: 1%;
    }

    .remove-todo {
        margin-left: 1%;
    }

    .count-todo {
        @extend %button;
        cursor: text;
        width: 100%;
        margin: 0;
    }
}

.preview {
    width: $rootWidth;
    background-color: $basicBackground;
    border-radius: $rootWidth / 20;
    font-size: 24px;
    @extend %border404;
    margin: 7.8px 0;
    height: 60px;
    padding: 15px;
    overflow: hidden;
    transition: .5s;
}